
.servicesMainContent{
 display: grid;
 gap: 130px;
}
.serviceHeader{
  background-color: antiquewhite;
  padding: 20px 30px;
  font-size: 20px;
}

.servicesGrid{
  display: grid;
  justify-content: center;
  text-align: center;
  gap: 17px;
}

.servicesGrid p{
  font-size: 14px;
  color: #726F6F;
}

.servicesGrid h4{
 font-size: 30px;
 width: 100%;
}

.main-services{
  display: flex;
  justify-content: center;
  gap: 70px;
}

.services-container{
  text-align: center;
  border-left: 1px solid black;
  border-right: 1px solid black;
  padding: 0px 20px;
  cursor: pointer;
  width: 100px;
}


.services-container:hover{
  text-align: center;
  border-left:1px solid rgb(0, 47, 255);
  border-right: 1px solid rgb(0, 47, 255);
  padding: 0px 20px;
  cursor: pointer;
}



.services-container:active{
  text-align: center;
  border:1px solid rgb(255, 0, 0);
 
  padding: 0px 20px;
  cursor: pointer;
}

.serviceData{
  display: flex;
  gap: 100px;
}
.service-content{
  display: flex;
  flex-direction: column;
  gap: 100px;
  padding: 0px 40px;
}
.serviceTitle{
  font-size: 34px;
}

.serviceDescription{
  font-size: 14px;
   width: 504px;
}
.grid{
  display: grid;
  gap: 50px;
}

.serviceData img{
  width: 598px;
  height: 345px;
}

.contactUs{
  background-color: #000000;
  width: 123px;
  height: 47px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  border-radius: 10px;
  text-decoration: none;
  
}

ul {
  list-style: none; 
  padding: 0;
  margin: 0;
}

li {
  list-style: none; 
}

.link {
  text-decoration: none;
}
@media (max-width: 600px) {
  .servicesMainContent {
    gap: 70px;
    padding: 0 10px;
  }

  .serviceHeader {
    padding: 10px;
    text-align: center;
    font-size: 18px;
  }

  .servicesGrid {
    gap: 10px;
    padding: 0 15px;
  }

  .servicesGrid p {
    font-size: 13px;
  }

  .servicesGrid h4 {
    font-size: 18px;
  }

  .main-services {
    gap: 20px;
    align-items: center;
  }

  .services-container {
    width: 80%;
    border: none;
    padding: 10px;
  }

  .services-container img {
    width: 40px;
    height: 30px;
  }

  .serviceData {
    flex-direction: column;
    gap: 30px;
    
  }

  .service-content {
  
    gap:  10px;
    padding: 0%;
  }

  .serviceTitle {
    font-size: 28px;
    width: 300px;
  }

  .serviceDescription {
    font-size: 12px;
    width: 300px;
    
  }

  .serviceImg {
    width: 90%;
    max-width: 300px;
  }

  .contactUs {
    width: 100%;
    max-width: 180px;
    padding: 8px 16px;
    font-size: 14px;
  }
}

@media (max-width: 467px) {
  .servicesMainContent {
    padding: 10px;
  }

  .serviceHeader {
    padding: 5px;
    font-size: 16px;
  }

  .servicesGrid h4 {
    font-size: 16px;
  }

  .main-services {
    display: flex ;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    align-items: center;
  }

  .services-container {
    width: 73px;
    height: 77px;
    text-align: center;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Bottom shadow */
}


  .services-container:hover{
    background-color: #B5A6A6;
  }

  .services-container img {
    width: 19px;
  }

  .services-container p {
    font-size: 10px;
  }

  .serviceData img {
    width: 250px;
    height: 250px;
  }

  .contactUs {
    width: 100%;
    max-width: 120px;
    height: 35px;
    font-size: 12px;
   
  }
}

